<!DOCTYPE html>
<html>
  <head>
    <title>Adopt a Kitten</title>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>Adopt a Kitten</h1>
    </header>
    <main>
      <h2>Welcome!</h2>
      <p>
        Attack dog, run away and pretend to be victim my left donut is missing, as is my right if it fits, i sits or lick butt. Destroy couch as revenge. Please stop looking at your phone and pet me scratch the box, intently stare at the same spot under the bed. Dream about hunting birds meow yet sleep on dog bed, force dog to sleep on floor for meow loudly just to annoy owners caticus cuteicus peer out window, chatter at birds, lure them to mouth find something else more interesting. Lick sellotape sleep in the bathroom sink chew on cable my left donut is missing, as is my right the dog smells bad.
      </p>
      <h2>Add a Kitten</h2>
      <form id="addKittenForm">
        <div class="row">
          <fieldset class="column col-6">
            <legend>Basic Information</legend>
            <label>
              Name
              <input name="name" type="text"/>
            </label>
            <label>Breed
            <input name="breed" type="text" />
            </label>
            <label>Coat Color
            <input name="coatColor" type="text" />
            </label>
            <label>Interests
            <input name="interests" type="text" />
            </label>
            <span>List interests, separated by commas</span>
          </fieldset>
          <fieldset class="column col-6">
            <legend>Placement Information</legend>
            <p>Can be placed with...</p>
            <label>
              <input name="isGoodWithKids" type="checkbox" />
              Kids
            </label>
            <label>
              <input name="isGoodWithDogs" type="checkbox" />
              Dogs
            </label>
            <label>
              <input name="isGoodWithOtherCats" type="checkbox" />
              Other Cats
            </label>
          </fieldset>
        <div class="row">
          <div class="column col-12">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
      <h2>Kittens Available for Adoption:</h2>
      <div id="kittenProfiles">
        <!-- generate this from js: -->
      </div>
    </main>
    <footer class="row">
      <p class="column col-6">
        We don't exist, but our friends at <a href="http://www.seattle.gov/animalshelter" target="_blank">Seattle Animal Shelter</a> and <a href="http://www.seattlehumane.org/" target="_blank">Seattle Humane Society</a> sure do. They - and their kittens - will appreciate any help you can get: financial, volunteer, or simply spreading the word about their amazing animals who need homes.
      </p>
      <p class="column col-3">lorem ipsum</p>
      <p class="column col-3">lorem ipsum</p>
    </footer>
    <script src="js/app.js"></script>
  </body>
</html>
