h1, h3 , ul{
  text-align: center;
}

body {
  background-color: rgba(4, 73, 50, .2);
}

section {
  width: 80%;
  margin: auto;
  border: 4px solid rgb(4, 73, 50);
  height: 600px;
}

img {
  width: 300px;
}