* {
  border: 1px solid black;
  font-family: sans-serif;
  /*margin: 0px;*/
}

.inline-p {
  display: inline-block;
}

#px-div {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#pct-div {
  width: 90%;
  height: 90%;
  background-color: tan;
}

#overflow-box {
  max-height: 100px;
  overflow: scroll;
}

#bmp-box p {
  padding: 20px;
}
